 70  2220  0          ILPFCB HDRY NPLPF
  1  0  0  0          LAYTYP (UNCONFINED LAYER (non-0: in LPF automatically convertible) / 3 CONFINED LAYERS (0: confined))
  0  0  0  0          LAYAVG (HARMONIC MEAN)
  1. 1. 1. 1.         CHANI (HORIZONTAL ANISOTROPY)
  1  1  1  1          LAYVKA (VKA IS RATIO VERTICAL TO HORIZONTAL HK)
  0  0  0  0          LAYWET (WETTING INACTIVE)
  CONSTANT 10.        HK OF LAYER 1
  CONSTANT 1          VKA RATIO VERTICAL TO HORIZONTAL HK OF LAYER 1
  constant 0.00001    SS of layer 1  
  constant 0.02       SY SPECIFIC YIELD IF TRANSIENT/UNCONFINED
  CONSTANT 0.002      VKCB OF CONFINING BED BELOW LAYER 1
  CONSTANT 1.5        HK OF LAYER 2
  CONSTANT 1          VKA RATIO VERTICAL TO HORIZONTAL HK OF LAYER 2
  constant 0.00001    SS of layer 2
  CONSTANT 0.001      VKCB OF CONFINING BED BELOW LAYER 2
  CONSTANT 1.0        HK OF LAYER 3
  CONSTANT 1          VKA RATIO VERTICAL TO HORIZONTAL HK OF LAYER 3
  constant 0.00001    SS of layer 3
  CONSTANT 0.0005     VKCB OF CONFINING BED BELOW LAYER 3
  CONSTANT 0.15       HK OF LAYER 4
  CONSTANT 1          VKA RATIO VERTICAL TO HORIZONTAL HK OF LAYER 4
  constant 0.00001    SS of layer 4